<% provide(:title, "Cửa hàng") %>
<section style="margin-bottom:-100px">
  <div class="py-20 bg-gray-900 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="mb-16 max-w-xl mx-auto text-center">
        <h2 class="text-5xl font-bold text-white">Cửa hàng</h2>
        <br>
        <h6 class="text-yellow-500 text-center" >Số DOLACHAU hiện tại của bạn là: <%= @current_student.avg_mark %></h6>
      </div>
      <div class="flex flex-wrap -mx-4 -mb-8">
        <% @products.each do |product| %>
          <div class="w-full lg:w-1/3 md:w-1/2 px-4 mb-8">
            <div class="h-full p-8 bg-white rounded shadow">
              <div class="mb-6 items-start">
                <span  class="mb-8 w-full h-64 object-cover">
                  <%= image_tag(product.image_url, width: 400, height: 400) if product.image.present? %>
                </span>
                <br>
                <h3 class="text-xl font-bold"><%= product.name %></h3>
              </div>
              <p class="text-gray-500">Giá tiền: <%= product.price %> <span class="text-red-500">DOLACHAU</span></p>
              <p class="text-green-500">
                <%= link_to 'Xem chi tiết', students_store_path(product) %>
              </p>
            </div>
          </div>
        <% end %> 
        <div style="margin: 0 auto">
          <%= paginate @products, theme: 'twitter-bootstrap-4' %>
        </div>       
      </div>
    </div>
  </div>
</section>
