<section style="margin-bottom:-100px">
  <div class="py-20 bg-gray-900 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="mb-16 max-w-xl mx-auto text-center">
        <h2 class="text-5xl font-bold text-white">Điểm thi đua học tập</h2>
        <h3 class="text-4xl font-bold text-red-500"><%= @student.name %></h3>
        <br>
      </div>
      <%= form_for ([:teachers, @student]) do |form| %>
        <% if @student.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>
            <ul>
              <% @student.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <label class="text-white">Điểm cộng</label>
          <%= form.number_field :good_mark, style:"width:100%" %>
        </div>

        <div class="field">
          <label class="text-white">Điểm trừ</label>
          <%= form.number_field :bad_mark, style:"width:100%" %>
        </div>
        <button class="btn btn-primary" type="submit">Lưu</button>
        <%= link_to 'Trở về', teachers_students_path, style:"color:white", :class => "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</section>
