<p>
  <strong>Tên:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>SĐT:</strong>
  <%= @student.phone %>
</p>

<p>
  <strong>Địa chỉ:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Giới tính:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Điểm tốt:</strong>
  <%= @student.good_mark %>
</p>

<p>
  <strong>Điểm xấu:</strong>
  <%= @student.bad_mark %>
</p>

<%= link_to 'Edit', edit_teachers_student_path(@student) %> |
<%= link_to 'Back', teachers_students_path %>
