<div class="container text-center">
    <h1 class="text-center">Những tiết học bổ ích năm học 2020 - 2021</h1>
    <br>

    <%= image_tag("thumb.jpg", style:"margin:0 auto; width:600px") %>
    <p class="text-lg">Chuyến trải nghiệm tại lăng Tự Đức của lớp 4/5</p>
    <br>
    <%= image_tag("168055031_2902762769998858_1991335827843237024_n.jpg", style:"margin:0 auto; width:600px") %>
    <p class="text-lg">Các hoạt động trong chuyến trải nghiệm</p>
    <br>
    <%= image_tag("146254796_2861180127490456_1463866152701815418_n.jpg", style:"margin:0 auto; width:600px") %>
    <p class="text-lg">Liên hoan tổng kết tại lớp 4/5</p>
    <br>
    <%= image_tag("123272928_2785078975100572_7175254677561708286_n.jpg", style:"margin:0 auto; width:600px") %>
    <p class="text-lg">Đại hội chi đội Vừ A Dính</p>
    <br>
    <%= image_tag("169635722_2906458212962647_1732306106963177398_n.jpg", style:"margin:0 auto; width:600px") %>
    <p class="text-lg">Các hoạt động học tập tại lớp</p>
    <br>
    <%= image_tag("200032929_2957203304554804_7022347162142910236_n.jpg", style:"margin:0 auto; width:600px") %>
    <p class="text-lg">Các hoạt động học tập tại lớp</p>
    <br>
</div>