<h1>Editing Teachers Notification</h1>

  <%= form_for ([:teachers, @noti]) do |form| %>


  <% if @noti.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@noti.errors.count, "error") %> prohibited this noti from being saved:</h2>

      <ul>
        <% @noti.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :course_id %>
    <%= form.collection_select :course_id, Course.order(:name), :id, :full_class_name, style:"width:100%"%>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<td><%= link_to 'Show', teachers_noti_path(@noti) %></td> |
<%= link_to 'Back', teachers_notis_path %>
