<p id="notice"><%= notice %></p>

<p>
  <strong>Tên:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>SĐT:</strong>
  <%= @teacher.phone %>
</p>

<p>
  <strong>Địa chỉ:</strong>
  <%= @teacher.address %>
</p>

<p>
  <strong>Giới tính:</strong>
  <%= @teacher.gender %>
</p>

<%= link_to 'Back', root_path %>
