<% provide(:title, "Học tập") %>
<section style="margin-bottom:-100px">
  <div class="py-20 bg-gray-900 radius-for-skewed">
    <div class="container mx-auto px-4">
      <div class="mb-16 max-w-xl mx-auto text-center">
        <h2 class="text-5xl font-bold text-white">Báo cáo kết quả học tập</h2>
        <br>
        <%= link_to 'Tạo báo cáo mới', new_teachers_review_path, style:"color:white", :class => "btn btn-danger" %>
      </div>
      <div class="flex flex-wrap -mx-4 -mb-8">
        <% @reviews.each do |review| %>
          <div class="w-full lg:w-1/2 px-4 mb-8">
            <div class="h-full p-8 bg-white rounded shadow">
              <div class="mb-6 flex items-start">
                <span class="mr-4 inline-block p-3 rounded-full bg-green-600">
                  <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                    <path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path>
                  </svg>
                </span>
                <h3 class="text-xl font-bold"><%= review.title %></h3>
              </div>
              <p class="text-gray-400">Ngày tạo: <%= review.created_at.strftime("%d-%m-%Y") %></p>
              <p class="text-gray-400">Học sinh: <%= review.student.name %></p>
              <p><%= link_to 'Xem chi tiết', teachers_review_path(review) %> | <%= link_to 'Sửa', edit_teachers_review_path(review) %> | <%= link_to 'Xóa', teachers_review_path(review), method: :delete, data: { confirm: 'Bạn có chắc muốn xóa không?' } %></p>
            </div>
          </div>
        <% end %> 
        <div style="margin: 0 auto">
          <%= paginate @reviews, theme: 'twitter-bootstrap-4' %>
        </div>       
      </div>
    </div>
  </div>
</section>
