<section>
    <nav class="relative p-3 flex justify-between items-center bg-white">
      <a class="text-3xl font-bold leading-none" href="/">
        <h2 class="font-bold">DOLACHAU<h2>
      </a>
      <div class="lg:hidden">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <button class="navbar-burger flex items-center text-green-600 p-3">
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </a>
      </div>
      <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:flex lg:items-center lg:w-auto lg:space-x-6">
        <li><a class="text-sm text-green-900 font-bold" href="/teachers/reviews">Học Tập</a></li>
        </li>
        <li class="text-gray-500">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-sm text-green-900 font-bold" href="/teachers/notis">Thông Báo</a></li>
        <li class="text-gray-500">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
          <li><a class="text-sm text-green-900 font-bold" href="/teachers/students">Học Sinh</a></li>
        <li class="text-gray-500">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-sm text-green-900 font-bold" href="/teachers/products">Cửa hàng</a></li>
        <li class="text-gray-500">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-sm text-green-900 font-bold" href="/teachers/bookings">Bán hàng</a></li>
        <li class="text-gray-500">
          <svg class="w-4 h-4 current-fill" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"></path>
          </svg>
        </li>
        <li><a class="text-sm text-green-900 font-bold" href="/teachers/rankings">BXH</a></li>
      </ul>
      <%= link_to "Tài Khoản", teacher_path, :class => 'hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200' %>
      <%= link_to "Đăng Xuất", destroy_teacher_session_path, :class => 'hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200', method: :delete %>
    </nav>
    <div class="topnav">
      <div id="myLinks" class="text-center bg-green-500">
        <%= link_to "Học tập", teachers_reviews_path %>
        <%= link_to "Thông báo", teachers_notis_path %>
        <%= link_to "Học sinh", teachers_students_path %>
        <%= link_to "Cửa hàng", teachers_products_path %>
        <%= link_to "Bán hàng", teachers_bookings_path %>
        <%= link_to "Tài Khoản", teacher_path %>
        <%= link_to "Đăng Xuất", destroy_teacher_session_path, method: :delete %>
      </div>
    </div>
    <script>
      function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
        }
      }
      </script>
</section>
